{% extends "base.html" %}
{% block body %}
<section class="wrapper">
	<div class="inner">
		<header class="special">
			<h2>Max Plan</h2>
			<p>an AI-powered career-planning tool providing personalised and realistic approaches by analysing real-life data for achieving career goals.</p>
		</header>
		<div class="highlights">
			<section>
				<div class="content">
					<header>
						<a href="#" class="icon fa-files-o"><span class="label">Icon</span></a>
						<h3>Tests</h3>
					</header>
					<p>Questionnaires and algorithms to match students with suitable job options.</p>
				</div>
			</section>
			<section>
				<div class="content">
					<header>
						<a href="#" class="icon fa-floppy-o"><span class="label">Icon</span></a>
						<h3>Career Advice/ Guidance</h3>
					</header>
					<p>Insights for possible career options and practical ways to achieve goals via data analysis.</p>
				</div>
			</section>
			<section>
				<div class="content">
					<header>
						<a href="#" class="icon fa-line-chart"><span class="label">Icon</span></a>
						<h3>Mentorship</h3>
					</header>
					<p>AI-Powered mentor-mentee matching platform for further inspiration and timely feedback.</p>
				</div>
			</section>
		</div>
	</div>
</section>

<!-- CTA -->
<section id="cta" class="wrapper" style="background-image: linear-gradient(#FFFFFF, #023347), url({{ url_for('static', filename='images/cta01.jpg') }});">
	<div class="inner">
		<h2>You have not signed in yet</h2>
	</div>
</section>
{% endblock %}