{% extends "base.html" %}
{% block body %}
<!-- Heading -->
	<div id="heading" >
		<h1>Online mentor</h1>
	</div>

<!-- Main -->
	<section id="main" class="wrapper">
		<div class="inner">
			<div class="content">
				<!-- Elements -->
				<div class="row">
					<div class="col-6 col-12-medium">
						<!-- Profile -->
						<div class="card border-success">
							<img class="card-img-top img-circle" src="images/pic01.jpg" alt="Card image cap">
							<div class="card-body text-success">
							<h3 class="card-title"><strong>Susan Tang</strong></h3>
							<p class="card-text">Title: <strong>Doctor</strong></p>
							<p class="card-text">University: <strong>Fujian university</strong></p>
							<p class="card-text">Peronalities match:</p>
							<div class="progress">
								<div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
							</div>
							<p class="card-text">Similiar past experience:</p>
							<ul>
								<li>Joined <span class="badge badge-success">Astronomical Society</span></li>
								<li>Joined <span class="badge badge-info">DreamCatchers MedTech Hackathon</span></li>
							</ul>
							<a href="#" class="btn btn-primary text-center">TALK</a>
							<div class="card-footer">
								<small class="text-muted">Last updated 1 week ago</small>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}