{% extends "base.html" %}
{% block body %}
<!-- Heading -->
	<div id="heading" >
		<h1>Registration</h1>
	</div>

<!-- Main -->
	<section id="main" class="wrapper">
		<div class="inner">
			<div class="content">

			<!-- Elements -->
				<div class="row">
					<div class="col-6 col-12-medium">
						<!-- Form -->
							<h4>Basic information</h4>
							<form method="post" action="#">
								<div class="row gtr-uniform">
									<div class="col-6 col-12-xsmall">
										<input type="text" name="name" id="first_name" value="" placeholder="First Name" />
									</div>
									<div class="col-6 col-12-xsmall">
										<input type="text" name="name" id="last_name" value="" placeholder="Last Name" />
									</div>
									<div class="col-6 col-12-xsmall">
										<input type="email" name="email" id="email" value="" placeholder="Email" />
									</div>
									<div class="col-6 col-12-xsmall">
										<input type="password" name="password" id="password" value="" placeholder="Password" />
									</div>
									<div class="col-6 col-12-xsmall">
										<input type="password" name="password" id="r_password" value="" placeholder="Confirm the password" />
									</div>
									<!-- Break -->
									<div class="col-12">
										<select name="category" id="category">
											<option value="">- Select your identity -</option>
											<option value="student">Student</option>
											<option value="mentor">Mentor</option>
										</select>
									</div>
									<div id="advanced_info"></div>
									<!-- Break -->
									<div class="col-12">
										<ul class="actions">
											<li><input type="submit" value="Submit Form" class="primary" /></li>
											<li><input type="reset" value="Reset" /></li>
										</ul>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<script>
		$(document).ready(function(){
			$("#category").on('change',function(){
				if($(this).val() == "student"){
					$("#advanced_info").html('<h4>Addtional information:</h4><div class="col-12"><select name="academic" id="academic"><option value="">- Select your current academic level-</option><option value="primary">Primary School</option><option value="secondary">Secondary School</option><option value="undergraduate">Undergraduate Student</option></select></div>');
				}else if($(this).val() == "mentor"){
					$("#advanced_info").html('<h4>Addtional information:</h4><div class="col-12"><select name="academic" id="academic"><option value="">- Select your latest academic level-</option><option value="primary">Primary School</option><option value="secondary">Secondary School</option><option value="associate">Associate Degree</option><option value="undergraduate">Graduate Degree</option><option value="master">Master Degree</option><option value="others">Others</option></select></div>');
				}
			});
		});
		</script>
{% endblock %}