{% extends "base.html" %}
{% block body %}
		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Notice</h2>
						You have not taken the test yet, Please fill in the questionnaire so we can know more about your status.
					</header>
					<div style="text-align: center">
						<a href="{{ url_for('questionnaire') }}" class="button primary">Go</a>
					</div>
					<!--
					<header class="special">
						<h2>Sem turpis amet semper</h2>
						<p>In arcu accumsan arcu adipiscing accumsan orci ac. Felis id enim aliquet. Accumsan ac integer lobortis commodo ornare aliquet accumsan erat tempus amet porttitor.</p>
					</header>
				-->
				</div>
			</section>

{% endblock %}